body {
  margin: 0;
  font-family: 'Arima Madurai', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Menu bars */
.ant-layout-sider.ant-layout-sider-dark {
  background: transparent;
}

.ant-layout-header {
  background: transparent;
}