body {
  margin: 0;
  font-family: 'Arima Madurai', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Menu bars */
.ant-layout-sider.ant-layout-sider-dark {
  background: transparent;
}
.ant-layout-header {
  background: transparent;
}

/* Side Menu */
.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
  border-radius: 4px;
}

/* Cart Modal */
.cartModal .ant-modal-title {
  font-size: large;
}
.cartModal .ant-modal-content .ant-modal-close {
  display: block !important;
  margin-top: -10px;
  margin-right: -5px;
}
.cartModal .ant-modal-content .ant-modal-close.focus, 
.cartModal .ant-modal-content .ant-modal-close:focus {
  outline: 0;
  box-shadow: none!important;
}
.cartModal .ant-modal-body {
  padding-top: 0px !important;
  padding-bottom: 0px;
  max-height: 500px;
  overflow-x: auto;
}