body {
  margin: 0;
  font-family: 'Arima Madurai', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Menu bars */
.ant-layout-sider.ant-layout-sider-dark {
  background: transparent;
}
.ant-layout-header {
  background: transparent;
}

/* Side Menu */
.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
  border-radius: 4px;
}

/* Cart Modal */
.cartModal .ant-modal-title {
  font-size: large;
}
.cartModal .ant-modal-content .ant-modal-close {
  display: block !important;
  margin-top: -10px;
  margin-right: -5px;
}
.cartModal .ant-modal-content .ant-modal-close.focus, 
.cartModal .ant-modal-content .ant-modal-close:focus {
  outline: 0;
  box-shadow: none!important;
}
.cartModal .ant-modal-body {
  padding-top: 0px !important;
  padding-bottom: 0px;
  max-height: 500px;
  overflow-x: auto;
}

/* Mobile Display */
@media (max-width: 500px) {

  /* NavBar */
  .logo span {
    display: none;
  }
  /* Greetings */
  .navbar .col-6 p {
    font-size: small !important;
    margin: 0 !important;
  }

  .navbar .ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal {
    width: 50px;
  }

  /* ProductTypeMenu */
  .ant-layout-sider-children .ant-menu-inline-collapsed.ant-menu-root.ant-menu-inline {
    width: 185px;
  }

  /* Product List */
  .ant-layout-content .ant-card {
    width: 250px !important;
  }

  /* Suggestions */
  .suggestions .ant-row {
    overflow-y: auto;
  }

  .suggestions .ant-row .ant-card {
    width: 120px !important;
  }

  .suggestions .ant-row .ant-card-meta-title {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  /* Suggestions */
  .suggestions .ant-row .ant-card {
    width: 200px !important;
  }
}