.ant-modal {
    width: 600px !important;
}

.ant-modal-close {
    display: none !important;
}

.ant-modal-body {
    padding-top: 60px !important;
}

.ant-form-item-control {
    max-width: 50% !important;
}

.ant-modal .ant-form-item-control-input-content {
    text-align: center;
}

.loginLabel {
    justify-content: center;
}

.loginField .ant-form-item-label {
    text-align: center;
}

/* .loginField {
    max-width: 50% !important;
} */

/* 
.ant-modal-footer {
    display: none;
} */